{% extends "front/base.html" %}
{% block title %}生{% endblock %}
{% block head %}
<link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='/front/css/chou.css') }}" />
{% endblock %}
{% block body %}
<div class="sheng">
    <div class="sheng_img"></div>
    <div class="sheng_include">
        <div class="sheng_main_1">
            <p><strong>丑</strong></p>
        </div>
        <div class="sheng_main_2">
            <p>
                <br />
                【文丑】指那些不具武艺的滑稽人物，脸谱勾豆腐块，<br />又根据其身份地位、年龄等区分为方巾丑、褶子丑、<br />袍带丑、鞋皮丑、老丑等<br />
                【武丑]指那些身具武艺的滑稽人物，又称“开口跳”<br />表演上以跌扑翻打为其特色，亦重念白表演<br />
                【丑婆子】即女丑，饰演那些或滑稽或凶恶的老妇人<br />如媒婆、店婆、禁婆等，多表演夸张、语言风趣<br />
            </p>
        </div>
        <div class="sheng_main_3">
            丑行，指那些滑稽幽默或相貌丑陋<br />的人物，有男性也有女性，<br />男性多在鼻眼间勾画豆腐块状脸谱，<br />故又称“小花脸”。<br />有文开、武丑、女丑之分<br />
        </div>
    </div>
</div>
{% endblock %}