{% extends "front/base.html" %}
{% block title %}生{% endblock %}
{% block head %}
<link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='/front/css/dan.css') }}" />
{% endblock %}
{% block body %}
<div class="sheng">
    <div class="sheng_img"></div>
    <div class="sheng_include">
        <div class="sheng_main_1">
            <p><strong>旦</strong></p>
        </div>
        <div class="sheng_main_2">
            <p>
                <br />
                【青衣】(正旦)端庄稳重的中青年女子，以唱功见长<br />
                【花过]年轻活泼俏俐的小家碧玉或丫，以做功和念白见长<br />
                【武旦]身俱武艺的江湖女侠或神怪精灵，多穿紧身衣服，<br />表演上重翻打<br />
                【刀马日]女将或女元帅，一般要扎大靠，表演上重靠把工架<br />
                【老旦】老年女性，用本嗓唱念，多重唱功<br />
                【彩日]滑稽或凶蛮的青年女子，动作和化妆都极尽其丑，<br />有时将其归入丑行<br />
            </p>
        </div>
        <div class="sheng_main_3">
            旦行，指戏曲中的女性形家可分为青衣、<br />花旦、刀马旦、武旦、老旦、彩旦等类别<br />
        </div>
    </div>
</div>
{% endblock %}