{% extends "front/base.html" %}
{% block title %}生{% endblock %}
{% block head %}
<link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='/front/css/jing.css') }}" />
{% endblock %}
{% block body %}
<div class="sheng">
    <div class="sheng_img"></div>
    <div class="sheng_include">
        <div class="sheng_main_1">
            <p><strong>净</strong></p>
        </div>
        <div class="sheng_main_2">
            <p>
                <br />
                【正净】(大花脸)也称”大面”“铜锤”或“黑头”，<br />地位较高,举止稳重的忠臣良将以唱功见长<br />
                【副净】(二花脸)也称“二面”或“架子花”，俗称<br />架子花脸，大多扮演性格豪爽人物<br />
                【武净】(武花脸)身具武艺者，以武打翻跌为主的角色<br />
                【毛净】(油花脸)形象奇特笨重，造型夸张，多需垫肩、<br />假臀等塑型扎扮在表演上以工架见长(如喷火、要牙等特技)<br />
            </p>
        </div>
        <div class="sheng_main_3">
            净行，指那些面部勾画脸谱的男性形象，<br />有正净、副净、武净和毛净之分<br />
        </div>
    </div>
</div>
{% endblock %}