<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>剧目锦集</title>
	<link rel="stylesheet" href="{{url_for('static',filename='front/css/jumu.css')}}">
	<link rel="shortcut icon" href="{{url_for('static',filename='front/css/img/icon.ico')}}">
</head>
<body>
	<div id ="homenav">
        <div class="navtitle"><strong>Culture</strong>|京剧</div>
        <div id="homenav_title">
	        <a href="/" class="home">首页</a>
	        <a href="{{ url_for('front.lianpu') }}" class="lianpu">脸谱</a>
	        <a href="{{ url_for('front.jumu') }}" class="jumu">剧目</a>
	        <a href="{{ url_for('front.blog') }}" class="blog">博客</a>
	       	<div class="navanim home"></div>
	        <div class="none"></div>
       	</div>
 	</div><br><br><br><br>

   	<main>
	   	<div id="juanzhou">
			<h2>剧目锦集</h2>
			<br>
			<h3>经典在线</h3>
	   	</div>
   		<div id="wutai">
			<h1>经典再现</h1>
			<hr>
			<div>
				<ul>
					<li>
						<div class="left l_1"></div>
						<div class="right">
							<div class="title"> 
								<h3>野猪林</h3>
								<a href="" class="more">详情</a>
							</div>
							<hr>
							<p>北宋末年，太尉高俅之子高衙内欲夺八十万禁军教头林冲之妻不成，遂定下卖刀计把林冲骗到军机重地白虎堂，从而铸成冤狱，将林冲发配沧州，林妻与父亲也被害而亡。发配...</p>
						</div>
					</li>
					<hr>
					<li>
						<div class="left l_2"></div>
						<div class="right">
							<div class="title"> 
								<h3>乾坤福寿镜</h3>
								<a href="" class="more">详情</a>
							</div>
							<hr>
							<p>明朝成化年间，颖州知府梅俊之妻胡氏，怀孕十四月未曾分娩。梅俊之妾徐金定买通算命的赵半仙，诬胡氏将产生妖魔。梅俊听从徐金定之计，欲害死胡氏。侍女...</p>
						</div>
					</li>
					<hr>
					<li>
						<div class="left l_3"></div>
						<div class="right">
							<div class="title"> 
								<h3>兴汉图</h3>
								<a href="" class="more">详情</a>
							</div>
							<hr>
							<p>刘邦死后，吕后擅权，大封诸吕为王，以固帝位。刘氏一些宗亲和老臣便设法要刈除诸吕的势力。当时，刘邦亲生少子淮南王刘长镇淮南，有兵权：蒯彻、...</p>
						</div>
					</li>
					<hr>
					<li>
						<div class="left l_4"></div>
						<div class="right">
							<div class="title"> 
								<h3>大破铜网阵</h3>
								<a href="" class="more">详情</a>
							</div>
							<hr>
							<p>北宋时期，襄阳王蓄意谋反，私建冲霄楼，并将反叛盟单藏匿于此。颜查散奉旨巡按襄阳，“锦毛鼠”白玉堂随行前往。襄阳王在对颜查散威胁、利诱失败后，又...</p>
						</div>
					</li>
					<hr>
					<li>
						<div class="left l_5"></div>
						<div class="right">
							<div class="title"> 
								<h3>太真外传</h3>
								<a href="" class="more">详情</a>
							</div>
							<hr>
							<p>唐明皇因惠妃夭折，梅妃染病，佳丽难在，郁郁寡欢。唐明皇到太真宫赏花，邂逅道姑杨玉环，惊艳其美貌，遂纳入后宫，册封贵妃。玉环为谢君恩，梨园献舞，一曲霓...</p>
						</div>
					</li>
					<hr>
					<li>
						<div class="left l_6"></div>
						<div class="right">
							<div class="title"> 
								<h3>西厢记</h3>
								<a href="" class="more">详情</a>
							</div>
							<hr>
							<p>唐代时，洛阳青年张珙赴试，途中宿普救寺，遇故相崔珏之女莺莺，一见钟情。驻军孙飞虎兵变，围住寺院，欲夺莺莺。崔夫人情急，声称将莺莺许婚给能退贼兵者..</p>
						</div>
					</li>
					<hr>
					<li>
						<div class="left l_7"></div>
						<div class="right">
							<div class="title"> 
								<h3>红灯记</h3>
								<a href="" class="more">详情</a>
							</div>
							<hr>
							<p>故事发生在抗日战争时期，沦陷区某地铁路扳道工人李玉和是中国共产党党员。他家祖孙三代不是同姓，是在十七年前“二七”大罢工运动中结合在一起的。李玉和接受...</p>
						</div>
					</li>
					<hr>
					<li>
						<div class="left l_8"></div>
						<div class="right">
							<div class="title"> 
								<h3>杨门女将</h3>
								<a href="" class="more">详情</a>
							</div>
							<hr>
							<p>天波府喜气盈盈，年满百岁的佘太君正在为镇守边关的孙儿杨宗保举办五十寿宴。忽传噩耗，西夏王率兵侵扰，杨宗保不幸阵亡。这时，朝廷震惊，意欲求和。佘...</p>
						</div>
					</li>
					<hr>
					<li>
						<div class="left l_9"></div>
						<div class="right">
							<div class="title"> 
								<h3>强项令</h3>
								<a href="" class="more">详情</a>
							</div>
							<hr>
							<p>东汉，湖阳公主府护卫赵彪，倚仗公主权势，杀伤人命。洛阳令董宣传命缉凶。衙役们虽明知赵彪藏匿公主府内，但因公主是光武皇帝的姐姐，府禁森严，不敢靠近，赵...</p>
						</div>
					</li>
					<hr>
					<li>
						<div class="left l_10"></div>
						<div class="right">
							<div class="title"> 
								<h3>文姬归汉</h3>
								<a href="" class="more">详情</a>
							</div>
							<hr>
							<p>汉末，由于中原战乱，名儒蔡邕（字伯喈）的女儿蔡琰（文姬），在乱军中被南匈奴左贤王所俘并与之结为夫妇，但是蔡文姬一直怀念着故土与死去的父亲...</p>
						</div>
					</li>
					<hr>
				</ul>
				</div>
		</div>
   	</main>
   	<script src="{{ url_for('static',filename='front/js/nav.js') }}"></script>
</body>
</html>