<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>启承京韵</title>
	<!-- <link rel="stylesheet" href="css/nav.css"> -->
	<link rel="stylesheet" href="{{url_for('static',filename='front/css/lianpu.css')}}">
	<link rel="shortcut icon" href="{{url_for('static',filename='front/css/img/icon.ico')}}">
</head>
<body>
	<div id="homenav">
		<div class="navtitle"><strong>Culture</strong>|京剧</div>
		<div id="homenav_title">
			<a href="/" class="home">首页</a>
			<a href="{{ url_for('front.lianpu') }}" class="lianpu">脸谱</a>
			<a href="{{ url_for('front.jumu') }}" class="about">剧目</a>
			<a href="{{ url_for('front.blog') }}" class="blog">博客</a>
			<div class="navanim home"></div>
			<div class="none"></div>
		</div>
	</div>

	<main>
		<div id="face">
			<video src="{{url_for('static',filename='front/css/img/lianbg.mp4')}}" muted="muted" autoplay="autoplay" loop="loop"></video>
			<h1>京剧脸谱简介</h1>
			<p><br></p>
			<div class="saying"><p>京剧脸谱，是一种具有中国文化特色的特殊化妆方法。由于每个历史人物或某一种类型的人物都有一种大概的谱式，就像唱歌、奏乐都要按照乐谱一样，所以称为“脸谱”。关于脸谱的来源，一般的说法是来自假面具。京剧脸谱艺术是广大戏曲爱好者的非常喜爱的一门艺术，国内外都很流行，已经被大家公认为是中国传统文化的标识之一。脸谱的主要特点有三点：美与丑的矛盾统一，与角色的性格关系密切，其图案是程式化的。</p></div>

			<h1>京剧脸谱赏析(105张)</h1>
			<div id="face_one">
				<div class="box">
					<img src="{{url_for('static',filename='front/css/img/lian (110).jpeg')}}" alt="">
					<img src="{{url_for('static',filename='front/css/img/lian (2).jpeg')}}" alt="">
					<img src="{{url_for('static',filename='front/css/img/lian (3).jpeg')}}" alt="">

				</div>
				<div class="box">
					<img src="{{url_for('static',filename='front/css/img/lian (4).jpeg')}}" alt="">
					<img src="{{url_for('static',filename='front/css/img/lian (5).jpeg')}}" alt="">
					<img src="{{url_for('static',filename='front/css/img/lian (6).jpeg')}}" alt="">

				</div>
				<div class="box">
					<img src="{{url_for('static',filename='front/css/img/lian (7).jpeg')}}" alt="">
					<img src="{{url_for('static',filename='front/css/img/lian (8).jpeg')}}" alt="">
					<img src="{{url_for('static',filename='front/css/img/lian (9).jpeg')}}" alt="">

				</div>
				<div class="box">
					<img src="{{url_for('static',filename='front/css/img/lian (10).jpeg')}}" alt="">
					<img src="{{url_for('static',filename='front/css/img/lian (11).jpeg')}}" alt="">
					<img src="{{url_for('static',filename='front/css/img/lian (12).jpeg')}}" alt="">

				</div>
				<div class="box">
					<img src="{{url_for('static',filename='front/css/img/lian (13).jpeg')}}" alt="">
					<img src="{{url_for('static',filename='front/css/img/lian (109).jpeg')}}" alt="">
					<img src="{{url_for('static',filename='front/css/img/lian (15).jpeg')}}" alt="">

				</div>
				<div class="box">
					<img src="{{url_for('static',filename='front/css/img/lian (16).jpeg')}}" alt="">
					<img src="{{url_for('static',filename='front/css/img/lian (17).jpeg')}}" alt="">
					<img src="{{url_for('static',filename='front/css/img/lian (18).jpeg')}}" alt="">

				</div>
				<div class="box">
					<img src="{{url_for('static',filename='front/css/img/lian (19).jpeg')}}" alt="">
					<img src="{{url_for('static',filename='front/css/img/lian (20).jpeg')}}" alt="">
					<img src="{{url_for('static',filename='front/css/img/lian (21).jpeg')}}" alt="">

				</div>
				<div class="box">
					<img src="{{url_for('static',filename='front/css/img/lian (22).jpeg')}}" alt="">
					<img src="{{url_for('static',filename='front/css/img/lian (23).jpeg')}}" alt="">
					<img src="{{url_for('static',filename='front/css/img/lian (24).jpeg')}}" alt="">

				</div>
				<div class="box">
					<img src="{{url_for('static',filename='front/css/img/lian (25).jpeg')}}" alt="">
					<img src="{{url_for('static',filename='front/css/img/lian (26).jpeg')}}" alt="">
					<img src="{{url_for('static',filename='front/css/img/lian (27).jpeg')}}" alt="">

				</div>
				<div class="box">
					<img src="{{url_for('static',filename='front/css/img/lian (28).jpeg')}}" alt="">
					<img src="{{url_for('static',filename='front/css/img/lian (29).jpeg')}}" alt="">
					<img src="{{url_for('static',filename='front/css/img/lian (30).jpeg')}}" alt="">

				</div>
				<div class="box">
					<img src="{{url_for('static',filename='front/css/img/lian (31).jpeg')}}" alt="">
					<img src="{{url_for('static',filename='front/css/img/lian (32).jpeg')}}" alt="">
					<img src="{{url_for('static',filename='front/css/img/lian (33).jpeg')}}" alt="">

				</div>
				<div class="box">
					<img src="{{url_for('static',filename='front/css/img/lian (34).jpeg')}}" alt="">
					<img src="{{url_for('static',filename='front/css/img/lian (35).jpeg')}}" alt="">
					<img src="{{url_for('static',filename='front/css/img/lian (36).jpeg')}}" alt="">

				</div>
				<div class="box">
					<img src="{{url_for('static',filename='front/css/img/lian (37).jpeg')}}" alt="">
					<img src="{{url_for('static',filename='front/css/img/lian (38).jpeg')}}" alt="">
					<img src="{{url_for('static',filename='front/css/img/lian (39).jpeg')}}" alt="">

				</div>
				<div class="box">
					<img src="{{url_for('static',filename='front/css/img/lian (40).jpeg')}}" alt="">
					<img src="{{url_for('static',filename='front/css/img/lian (41).jpeg')}}" alt="">
					<img src="{{url_for('static',filename='front/css/img/lian (42).jpeg')}}" alt="">

				</div>
				<div class="box">
					<img src="{{url_for('static',filename='front/css/img/lian (43).jpeg')}}" alt="">
					<img src="{{url_for('static',filename='front/css/img/lian (44).jpeg')}}" alt="">
					<img src="{{url_for('static',filename='front/css/img/lian (45).jpeg')}}" alt="">

				</div>
				<div class="box">
					<img src="{{url_for('static',filename='front/css/img/lian (46).jpeg')}}" alt="">
					<img src="{{url_for('static',filename='front/css/img/lian (47).jpeg')}}" alt="">
					<img src="{{url_for('static',filename='front/css/img/lian (48).jpeg')}}" alt="">

				</div>
				<div class="box">
					<img src="{{url_for('static',filename='front/css/img/lian (49).jpeg')}}" alt="">
					<img src="{{url_for('static',filename='front/css/img/lian (50).jpeg')}}" alt="">
					<img src="{{url_for('static',filename='front/css/img/lian (51).jpeg')}}" alt="">

				</div>
				<div class="box">
					<img src="{{url_for('static',filename='front/css/img/lian (52).jpeg')}}" alt="">
					<img src="{{url_for('static',filename='front/css/img/lian (53).jpeg')}}" alt="">
					<img src="{{url_for('static',filename='front/css/img/lian (54).jpeg')}}" alt="">

				</div>
				<div class="box">
					<img src="{{url_for('static',filename='front/css/img/lian (55).jpeg')}}" alt="">
					<img src="{{url_for('static',filename='front/css/img/lian (56).jpeg')}}" alt="">
					<img src="{{url_for('static',filename='front/css/img/lian (57).jpeg')}}" alt="">

				</div>
				<div class="box">
					<img src="{{url_for('static',filename='front/css/img/lian (58).jpeg')}}" alt="">
					<img src="{{url_for('static',filename='front/css/img/lian (59).jpeg')}}" alt="">
					<img src="{{url_for('static',filename='front/css/img/lian (60).jpeg')}}" alt="">

				</div>
				<div class="box">
					<img src="{{url_for('static',filename='front/css/img/lian (61).jpeg')}}" alt="">
					<img src="{{url_for('static',filename='front/css/img/lian (62).jpeg')}}" alt="">
					<img src="{{url_for('static',filename='front/css/img/lian (63).jpeg')}}" alt="">

				</div>
				<div class="box">
					<img src="{{url_for('static',filename='front/css/img/lian (64).jpeg')}}" alt="">
					<img src="{{url_for('static',filename='front/css/img/lian (108).jpeg')}}" alt="">
					<img src="{{url_for('static',filename='front/css/img/lian (66).jpeg')}}" alt="">

				</div>
				<div class="box">
					<img src="{{url_for('static',filename='front/css/img/lian (67).jpeg')}}" alt="">
					<img src="{{url_for('static',filename='front/css/img/lian (68).jpeg')}}" alt="">
					<img src="{{url_for('static',filename='front/css/img/lian (69).jpeg')}}" alt="">

				</div>
				<div class="box">
					<img src="{{url_for('static',filename='front/css/img/lian (70).jpeg')}}" alt="">
					<img src="{{url_for('static',filename='front/css/img/lian (71).jpeg')}}" alt="">
					<img src="{{url_for('static',filename='front/css/img/lian (72).jpeg')}}" alt="">

				</div>
				<div class="box">
					<img src="{{url_for('static',filename='front/css/img/lian (73).jpeg')}}" alt="">
					<img src="{{url_for('static',filename='front/css/img/lian (74).jpeg')}}" alt="">
					<img src="{{url_for('static',filename='front/css/img/lian (75).jpeg')}}" alt="">

				</div>
				<div class="box">
					<img src="{{url_for('static',filename='front/css/img/lian (76).jpeg')}}" alt="">
					<img src="{{url_for('static',filename='front/css/img/lian (77).jpeg')}}" alt="">
					<img src="{{url_for('static',filename='front/css/img/lian (78).jpeg')}}" alt="">

				</div>
				<div class="box">
					<img src="{{url_for('static',filename='front/css/img/lian (79).jpeg')}}" alt="">
					<img src="{{url_for('static',filename='front/css/img/lian (80).jpeg')}}" alt="">
					<img src="{{url_for('static',filename='front/css/img/lian (81).jpeg')}}" alt="">

				</div>
				<div class="box">
					<img src="{{url_for('static',filename='front/css/img/lian (82).jpeg')}}" alt="">
					<img src="{{url_for('static',filename='front/css/img/lian (106).jpeg')}}" alt="">
					<img src="{{url_for('static',filename='front/css/img/lian (84).jpeg')}}" alt="">

				</div>
				<div class="box">
					<img src="{{url_for('static',filename='front/css/img/lian (85).jpeg')}}" alt="">
					<img src="{{url_for('static',filename='front/css/img/lian (86).jpeg')}}" alt="">
					<img src="{{url_for('static',filename='front/css/img/lian (87).jpeg')}}" alt="">

				</div>
				<div class="box">
					<img src="{{url_for('static',filename='front/css/img/lian (88).jpeg')}}" alt="">
					<img src="{{url_for('static',filename='front/css/img/lian (89).jpeg')}}" alt="">
					<img src="{{url_for('static',filename='front/css/img/lian (90).jpeg')}}" alt="">

				</div>
				<div class="box">
					<img src="{{url_for('static',filename='front/css/img/lian (91).jpeg')}}" alt="">
					<img src="{{url_for('static',filename='front/css/img/lian (92).jpeg')}}" alt="">
					<img src="{{url_for('static',filename='front/css/img/lian (93).jpeg')}}" alt="">

				</div>
				<div class="box">
					<img src="{{url_for('static',filename='front/css/img/lian (94).jpeg')}}" alt="">
					<img src="{{url_for('static',filename='front/css/img/lian (95).jpeg')}}" alt="">
					<img src="{{url_for('static',filename='front/css/img/lian (96).jpeg')}}" alt="">

				</div>
				<div class="box">
					<img src="{{url_for('static',filename='front/css/img/lian (97).jpeg')}}" alt="">
					<img src="{{url_for('static',filename='front/css/img/lian (107).jpeg')}}" alt="">
					<img src="{{url_for('static',filename='front/css/img/lian (99).jpeg')}}" alt="">

				</div>

				<div class="box">
					<img src="{{url_for('static',filename='front/css/img/lian (100).jpeg')}}" alt="">
					<img src="{{url_for('static',filename='front/css/img/lian (101).jpeg')}}" alt="">
					<img src="{{url_for('static',filename='front/css/img/lian (102).jpeg')}}" alt="">

				</div>
				<div class="box">
					<img src="{{url_for('static',filename='front/css/img/lian (103).jpeg')}}" alt="">
					<img src="{{url_for('static',filename='front/css/img/lian (104).jpeg')}}" alt="">
					<img src="{{url_for('static',filename='front/css/img/lian (105).jpeg')}}" alt="">

				</div>

				<div class="box">
				</div>
			</div>
		</div>
	</main>
	<script src="{{url_for('static',filename='front/js/nav.js')}}"></script>
</body>
</html>