{% extends "front/base.html" %}
{% block title %}生{% endblock %}
{% block head %}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='/front/css/sheng.css') }}" />
{% endblock %}
{% block body %}
    <div class="sheng">
        <div class="sheng_img"></div>
        <div class="sheng_include">
            <div class="sheng_main_1">
                <p><strong>生</strong></p>
            </div>
            <div class="sheng_main_2">
                <p><br />
                【老生】主要扮演帝王及儒雅文弱的中老年人,以戴胡须(即<br />辑r á m)为其特点分为唱功老生、做功老生和靠把老生三类<br />
                【小生]主要扮演年轻英俊的男性色，可分为扇子生、<br />纱帽生、維尾生、穷生、武小生等类别<br />
                【武生】主要扮演勇猛战将(长靠武生)或绿林英雄(短打<br />武生)前者扎大靠,重工架，后者穿紧身衣服,重翻打<br />
                【红生】有时将其归入武生行，指脸上勾着红脸(用红色涂成<br />脸谱)的老生<br />
                【娃娃生】有些副种也称“童生”，专门扮演儿童一类的<br />角色，天真烂漫儿童椎</p>
            </div>
            <div class="sheng_main_3">
                生行，指戏曲剧目中的男性形象，以面部<br />化妆为俊扮为其特点根据其年龄、身份的不同<br />能够分为老生、小生、武生等不同的种类<br />
            </div>
        </div>
    </div>
{% endblock %}
