* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 宋体;
    text-decoration: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("./images/205913.jpg") no-repeat;
    background-size: cover;
    background-position:center;
}

.wrapper {
    width:420px;
    background:transparent;
    border:2px solid rgba(255,255,255,0.2);
    backdrop-filter:blur(20px);
    box-shadow:0 0 10px rgba(0,0,0,0.2);
    color:#fff;
    border-radius:10px;
    padding:30px 40px;
}

.wrapper h1 {
    font-size:36px;
    text-align:center;
}

.wrapper .input-box {
    width: 100%;
    height:50px;
    margin:30px 0;
}

.wrapper .input-box_1 {
    width: 100%;
    height:50px;
    margin:30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255,0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color:#fff;
}


.input-box_1 input {
    width: 160px;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255,0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box_1 input::placeholder{
    color:#fff;
}

.captcha {
    width: 168px;
    height: 100%;
    background: #fff;
    border: none;
    outline: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 40px;
    font-size: 16px;
    cursor: pointer;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 40px;
    font-size: 22px;
    font-weight: 700;
    cursor: pointer;
}

.wrapper .register-link {
    font-size:14.5px;
    text-align:center;
    margin:20px 0 15px;
}

.register-link p a {
	color: #fff;
    text-decoration:none;

}

.register-link p a:hover {
    text-decoration:underline;
}
a {
	color: #fff;
}